/* Imports the 'Inter' font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

body { 
    font-family: 'Inter', sans-serif; 
    background-color: #f7f7f7; 
}

.nav-link:hover { 
    color: #033f2b; 
}
.navbar {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  display: inline-block;
    margin: 0;
    padding-right: 5px;
    transition: transform 0.3s ease;
    color: black;
    text-decoration: none;
    font-weight: bold; 
     font-family: Arial, sans-serif;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
    text-shadow: 1px 1px 4px white;
}


.nav-link:hover {
  transform: scale(1.1);
    color: #179900;
}
.Logo{
    display: flex;
     height: 0px;
     position: relative;
     bottom: 205px;
    }
img:hover{
    transform: scale(1.1);
    color: #00b362;
}
 img{
    position: absolute;
    left: 15px;
    scale: 0.5;
    transition: transform 0.3s ease;  
 }    
.navbar{
    display: flex;
    justify-content:flex-end;
    gap: 65px;
    align-items: center;
    height: 80px;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding: 12px 40px;
    border: 25px white;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    z-index: 2;
    border-radius: 25px;
    margin-top: 15px;
    scale:0.90;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(255, 255, 255, 1);
    transition: transform 0.3s ease;
}
.navbar:hover{
    transform: scale(1.03);

}